.container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--mui-palette-background-900);
  height: 100%;
  max-height: calc(100vh - var(--titlebar-height));
  min-height: 0;
}