.container {
  position: fixed;
  height: 100%;
}

.gridStyle {
  width: 100%;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto 1rem;
  cursor: pointer;
  /* background-color: red; */
  
  svg {
    transition: all .2s ease-in-out;
    font-size: 1.5rem;
    padding: .5rem;
  }

  span {
    transition: all .2s ease-in-out;
  }
}

.iconContainer:hover {
  svg {
    color: var(--mui-palette-primary-main) !important;
    filter: drop-shadow(0 0 18px var(--mui-palette-primary-main)) drop-shadow(0 2px 6px rgba(0, 0, 0, 0.25)) !important;
  }

  span {
    color: var(--mui-palette-primary-main)
  }
}

.iconContainer.current {
  svg {
    color: var(--mui-palette-primary-100);
    filter: drop-shadow(0 0 30px var(--mui-palette-primary-100)) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
  }
}