.container {
    position: fixed;
    height: 100%;
}

.gridStylegridStyle {
    width: 100%;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
    svg {
        transition: all .2s ease-in-out;
        cursor: pointer;
        font-size: 2.5rem;
        padding: .5rem;
    }
}

.iconContainer:hover {
    svg {
        color: var(--mui-palette-primary-500) !important;
        filter: drop-shadow(0 0 18px var(--mui-palette-primary-500)) drop-shadow(0 2px 6px rgba(0, 0, 0, 0.25)) !important;
    }
}

.iconContainer.current {
    svg {
        color: var(--mui-palette-primary-100);
        filter: drop-shadow(0 0 30px var(--mui-palette-primary-100)) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
    }
}