.appScroll {
    padding-top: calc(var(--titlebar-height) + 1rem);
    padding-bottom: 1rem;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
    --webkit-overflow-scrolling: touch;
}