:root {
  --titlebar-height: 36px;
  --scrollbar-width: 8px;
}

#root {
  margin: 0;
  overflow: hidden;
}

/* Base page utilities */
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--mui-palette-background-950);
  /* background: var(--mui-palette-background-default); */
  color: var(--mui-palette-text-primary);

  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

*::-webkit-scrollbar-thumb {
  background: var(--mui-palette-primary-800);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--mui-palette-primary-main);
}

*::-webkit-scrollbar-track {
  background: transparent;
}