.container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--mui-palette-background-900);
    height: calc(100% - 3rem);
}

.icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: var(--mui-palette-text-primary);
    fill: var(--mui-palette-text-primary);
    transition: fill 0.1s, color 0.1s;
}

.icon:hover {
    fill: var(--mui-palette-primary-main);
    color: var(--mui-palette-primary-main);
}