.container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--mui-palette-background-900);
    height: calc(100% - 3rem);
    width: calc(100% - 4rem);
}