.container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--mui-palette-background-900);
    height: calc(100% - 3rem);
}

.icon {
    cursor: pointer;
    color: var(--mui-palette-text-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    :hover {
        color: var(--mui-palette-primary-main);
    }
}